* text=auto

/bin export-ignore
/resources export-ignore
/tests export-ignore
/vendor export-ignore
/.env export-ignore
/.env.example export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/README.md export-ignore
/UPGRADING.md export-ignore